.alphabet {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: 69px;
    background-color: $white-color;
    box-shadow: 5px 8px 16px rgba(54, 80, 148, 0.18);
  }
  // display: block;

  // &--form {
  //   display: block;
  // }

  // @media (min-width: $tablet-width) {
  //   padding: 35px 73px 33px 27px;
  //   border-right: 1px solid #d6d9e6;
  //   background-color: $white-color;
  //   box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  //   border-bottom-left-radius: 5px;
  // }

  // @media (min-width: $desktop-width) {
  //   padding: 37px;
  //   padding-top: 53px;
  //   padding-bottom: 41px;
  //   background-color: $basic-blue-light;
  //   box-shadow: none;
  //   border: none;
  // }
}

.alphabet__letters {
  display: grid;
  grid-template-columns: repeat(4, 44px) 43px;
  grid-template-rows: repeat(5, 41px);
  background-color: $white-color;
  border-left: 1px solid $range-input-border-color;

  @media (min-width: $tablet-width) {
    padding: 35px 77px 29px 27px;
    border-top: none;
    border-right: 1px solid rgba(214, 217, 230, 0.5);
    grid-template-columns: repeat(4, 53px) 54px;
    grid-template-rows: repeat(5, 70px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 101px;
    padding-bottom: 36px;
    grid-template-columns: repeat(5, 60px);
    gap: 14px 15px;
  }
}

.alphabet__countries {
  background-color: $white-color;
}

.alphabet__list {
  display: grid;
  grid-template-columns: repeat(4, 44px) 43px;
  grid-template-rows: repeat(5, 41px);
  background-color: $white-color;
  border-left: 1px solid $range-input-border-color;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $range-input-border-color;
    grid-template-columns: repeat(4, 53px) 54px;
    grid-template-rows: repeat(5, 70px);
  }

  @media (min-width: $desktop-width) {
    padding-right: 28px;
    grid-template-columns: repeat(5, 60px);
    gap: 14px 15px;
    border: none;
  }
}

.alphabet__sublist {
  display: none;
  position: absolute;
  background-color: $white-color;
  width: 100%;
  top: 205px;
  left: 0;
  padding: 20px 20px 15px 19px;
  border: 1px solid $range-input-border-color;
  border-top: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $basic-blue-dark;
  border-radius: 0 0 5px 5px;

  @media (min-width: $tablet-width) {
    top: 0;
    left: 100%;
    width: 210px;
    min-height: 100%;
    padding-top: 35px;
    font-size: 20px;
    line-height: 20px;
    border: none;
    border-radius: 0;
    box-shadow: 5px 8px 16px rgba(54, 80, 148, 0.18);
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    width: 241px;
    padding-left: 26px;
    box-shadow: 15px 8px 16px rgba(54, 80, 148, 0.18);
  }
}

.alphabet__button {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $white-color;
  color: $basic-blue-dark;
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;

  &--active {
    background-color: $basic-blue-light;

    & + .alphabet__sublist {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &--active {
      background-color: $basic-blue-dark;
      color: $white-color;
    }
  }

  @media (min-width: $desktop-width) {
    border: 1px solid $range-input-border-color;
    border-radius: 4px;
  }
}

.alphabet__item {
  border-right: 1px solid $range-input-border-color;
  border-bottom: 1px solid $range-input-border-color;

  @media (min-width: $tablet-width) {
    border: 1px solid $range-input-border-color;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.alphabet__list--letters {
  max-width: 220px;
  border-top: 1px solid $range-input-border-color;

  .alphabet__button--active {
    background-color: $basic-blue-dark;
    color: $white-color;

    & + .alphabet__sublist {
      top: 599px;
      padding-right: 50px;
      padding-left: 50px;
      background-color: $country-filter-color;
      z-index: 1;
    }

    @media (min-width: $tablet-width) {
      color: $basic-blue-dark;
      background-color: $country-filter-color;
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.alphabet__subitem:not(:last-child) {
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.alphabet--catalog {
  position: static;
  padding-left: 25px;

  .alphabet__letters {
    background-color: transparent;
  }

  .alphabet__button--active {
    background-color: $basic-blue-dark;
    color: $white-color;
  }

  .alphabet__countries {
    background-color: transparent;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
    box-shadow: none;

    .alphabet__letters {
      padding: 25px 78px 62px 0;
      grid-template-columns: repeat(5, 78px);
      grid-template-rows: repeat(5, 82px);
      border: none;
    }

    .alphabet__item {
      border: none;
    }

    .alphabet__button {
      font-size: 60px;
      line-height: 60px;
      font-weight: 700;
      color: $basic-blue-dark;
      background-color: transparent;
      opacity: 0.3;
    }

    .alphabet__button--active {
      background-color: transparent;
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    display: block;
    padding-left: 22px;

    .alphabet__letters {
      display: none;
    }

    .alphabet__countries {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      background-color: transparent;
    }
  }
}
