.companion-filters {
  margin-bottom: 28px;
  padding: 24px 0 22px 0;
  background-color: $basic-yellow;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    padding-top: 35px;
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    max-width: 285px;
    padding-top: 44px;
    flex-direction: column;
    order: 2;
    height: 0%;
  }
}

.companion-filters__container {
  @media (min-width: $tablet-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding-left: 48px;
    padding-right: 46px;
  }
}

.companion-filters__heading {
  margin-bottom: 34px;
  padding: 0;
  font-size: 22px;
  line-height: inherit;
  color: inherit;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding-bottom: 39px;
    border-bottom: 1px solid #f3c72b;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    margin-bottom: 23px;
    padding-bottom: 0;
  }
}

.companion-filters__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 104px 1fr;
    column-gap: 23px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
  }
}

.companion-filters__legend {
  width: 100%;
  padding: 11px 0 10px 1px;
  line-height: 18px;
  border-top: 1px solid $special-border-color;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding: 11px 0 10px 1px;
    line-height: 18px;
  }
}

.companion-filters__button {
  position: relative;
  width: 100%;
  padding: 0;
  padding-right: 10px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: inherit;
  border: none;
  background-color: transparent;

  &::after {
    position: absolute;
    top: 7px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-top-color: $special-blue;
    border-right-color: transparent;
    border-width: 5px 5px 0;
    border-left-color: transparent;
    content: "";
    transition: $basic-animation;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    &::after {
      display: block;
    }
  }
}

.companion-filters__colon {
  @media (max-width: 767px) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion-filters__legend + .companion-filters__input-containers {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion-filters__legend--opened {
  .companion-filters__button::after {
    transform: rotate(180deg);
  }

  & + .companion-filters__input-containers {
    display: block;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 104px 1fr;
    column-gap: 23px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-bottom: 21px;
    flex-direction: column;
    gap: none;
  }
}

.companion-filters__label {
  position: relative;
  padding-left: 27px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $black-color;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $white-color;
    border-radius: 4px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    padding-left: 36px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    &::before {
      top: -3px;
      width: 24px;
      height: 24px;
    }
  }
}

.companion-filters__checkbox:checked + .companion-filters__label::before {
  background-image: url("../img/icon_check-mark.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet-width) {
    background-size: 16px 15px;
  }
}

.companion-filters__input-containers {
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.companion-filters__icon {
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 22px;
  }
}

.companion-filters__list {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-top: 3px;
    grid-template-columns: 143px 146px 150px;
    column-gap: 26px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 20px;
  }
}

.companion-filters__list--transport {
  display: flex;
  margin-top: 12px;

  .companion-filters__label--checkbox {
    display: flex;
    width: 32px;
    height: 32px;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    border-radius: 50%;

    &::before {
      display: none;
    }
  }

  .companion-filters__item:not(:last-child) {
    margin-right: 2px;
  }

  // Знаю что нельзя, ищу способ исправить
  .companion-filters__input:checked + .companion-filters__label--checkbox .companion-filters__icon {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    margin-left: -6px;
    margin-top: -3px;
    column-gap: 1px;

    .companion-filters__label--checkbox {
      width: 43px;
      height: 43px;
    }

    .companion-filters__item:not(:last-child) {
      margin-right: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-top: 0;
    margin-left: 0;
    padding-bottom: 37px;

    .companion-filters__item:not(:last-child) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.companion-filters__fieldset--range {
  margin-top: -6px;
  margin-bottom: 0;

  .companion-filters__label {
    padding: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: -15px;
    margin-bottom: 0;
    padding-bottom: 36px;
    border-bottom: 1px solid #f3c72b;
    grid-template-columns: 104px 319px 150px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
    flex-direction: column;
    border: none;
  }
}

.companion-filters__range-container {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-column: 3/4;
    margin-top: 2px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

.companion-filters__range-input {
  max-width: 110px;
  padding: 8px 10px 9px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 13px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.06em;
  border: 1px solid $range-input-border-color;

  &--min {
    border-right: none;
    border-radius: 4px 0 0 4px;
  }

  &--max {
    border-radius: 0 4px 4px 0;
  }

  @media (min-width: $tablet-width) {
    max-width: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 96px;
  }
}

.companion-filters__label--min {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    width: 16px;
    height: 10px;
    top: 12px;
    right: -8px;
    background: linear-gradient(to bottom, $white-color 4px, $range-input-border-color 4px, $range-input-border-color 6px, $white-color 6px);
    z-index: 2;
    content: "";
  }

  @media (min-width: $tablet-width) {
    &::after {
      top: calc(50% - 5px);
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      width: 20px;
      height: 8px;
      top: 17px;
      right: -10px;
    }
  }
}

.companion-filters__submit-button {
  width: 230px;
  margin-left: -5px;
  margin-bottom: 0;
  padding-bottom: 11px;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    max-width: none;
    width: 100%;
    margin-left: 0;
    margin-top: 36px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-right: 34px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    margin-top: 3px;
    padding-bottom: 13px;
    border-radius: 25px;
  }
}

.companion-filters__item {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.companion-filters__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}
