.companions-catalog {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    grid-row: 1;
    grid-column: 1/2;
    margin-left: 5px;
  }
}

.companions-catalog__list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.companions-catalog__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.companions-catalog__show-more {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  max-width: 200px;
  padding-left: 33px;
  font-size: 17px;
  line-height: 30px;
  color: $basic-blue-dark;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: $basic-blue-dark;
    content: "";
  }

  &::before {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: $basic-blue-dark;
    transform: rotate(90deg);
    content: "";
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-left: 51px;
    padding-right: 7px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      width: 26px;
    }

    &::before {
      width: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 75px;
  }
}
