.continents__list {
  margin-bottom: 20px;
}

.continents__item:not(:last-child) {
  margin-bottom: 5px;
}

.continents__link {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}
