.container {
  min-width: 320px;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1330px;
  }
}
