.contacts-list {
  margin-bottom: 36px;
}

.contacts-list__link {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 61px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-yellow;

  &--header {
    text-align: left;
    color: $special-blue;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: $basic-blue-darkest;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    content: "";
  }

  &--tel::after {
    background-image: url("../img/icon-telephone.svg");
  }

  &--mail::after {
    background-image: url("../img/icon-mail.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 86px;

    &::after {
      width: 68px;
      height: 68px;
      top: -2px;
      left: -5px;
    }

    &--tel::after {
      background-size: 27px 26px;
    }

    &--mail::after {
      background-size: 28px 19px;
    }
  }
}
