.country-filters {
  margin-top: -10px;
  margin-bottom: 21px;
  padding-top: 31px;
  padding-bottom: 15px;
  background-color: $country-filter-color;
  color: $special-blue;
  border-radius: 0 0 15px 15px;

  @media (min-width: $tablet-width) {
    margin-top: -45px;
    margin-bottom: 43px;
    padding-top: 108px;
    padding-bottom: 33px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 104px;
    margin-bottom: 118px;
    background-color: $basic-blue-light;
  }
}

.country-filters__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.country-filters__heading {
  position: relative;
  margin-bottom: 1px;
  font-size: inherit;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
  flex-grow: 1;

  &::after {
    position: absolute;
    width: 16px;
    height: 10px;
    top: calc(50% - 5px);
    left: 0;
    background: url("../img/icon_filter.svg");
    content: "";
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 350px;
    margin-left: 6px;
    padding-left: 45px;
    font-size: 20px;
    line-height: 20px;

    &::after {
      width: 23px;
      height: 15px;
      top: calc(50% - 8px);
      background-size: 23px 15px;
    }
  }
}

.country-filters__dropdown {
  position: static;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.country-filters__button {
  position: relative;
  display: block;
  padding: 0;
  border: none;
  width: 12px;
  height: 12px;
  font-family: $main-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $special-blue;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    width: 3px;
    height: 3px;
    left: 5px;
    background-color: $special-blue;
    border-radius: 50%;
    box-shadow: 7px 0 0 0 $special-blue, -7px 0 0 0 $special-blue;
    content: "";
    transition: $basic-animation;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
    margin-right: 35px;
    align-items: center;
    width: 185px;

    &::after {
      width: 6px;
      height: 6px;
      top: 6px;
      left: 169px;
      box-shadow: 12px 0 0 0 $special-blue, -12px 0 0 0 $special-blue;
    }

    .country-filters__info--closed {
      display: block;
    }

    .country-filters__info--opened {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.country-filters--open {
  position: relative;
  display: flex;
  align-items: center;

  .country-filters__alphabet {
    display: flex;
    flex-direction: column;
  }

  .country-filters__button {
    display: block;
    margin-top: -5px;
    padding: 0;
    width: 16px;
    height: 16px;

    &::after {
      top: 50%;
      left: 0;
      width: 18px;
      height: 2px;
      transform: rotate(45deg);
      border-radius: 0;
      box-shadow: none;
    }

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 2px;
      background-color: $basic-blue-dark;
      transform: rotate(-45deg);
      content: "";
      transition: $basic-animation;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      margin-left: auto;
      margin-right: 33px;
      align-items: center;
      width: 185px;

      &::after {
        top: 6px;
        left: 91%;
      }
    }
  }

  .country-filters__dropdown {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 30px 25px 28px;
    z-index: 3;
    background-color: $country-filter-color;
    border-radius: 0 0 20px 20px;
  }

  @media (min-width: $tablet-width) {
    border-radius: 0;
    justify-content: flex-end;

    .country-filters__continents {
      margin-top: -1px;
      margin-left: 7px;
    }

    .country-filters__alphabet {
      flex-direction: row;
    }

    .country-filters__info--closed {
      display: none;
    }

    .country-filters__info--opened {
      display: block;
    }

    .country-filters__dropdown {
      top: 77px;
      left: 0;
      padding-bottom: 78px;
      font-size: 20px;
      line-height: 20px;
      border-radius: 0 0 60px 60px;
    }

    .country-filters__button {
      display: flex;
      margin-left: auto;
      margin-right: 32px;
      margin-top: 0;
      align-items: center;
      width: 175px;
      z-index: 4;

      &::after {
        width: 25px;
        top: 8px;
        left: 149px;
      }

      &::before {
        width: 25px;
        left: 149px;
      }
    }

    .country-filters__closebutton {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    .country-filters__dropdown {
      position: static;
      padding: 0;
      background-color: transparent;
    }

    .country-filters__button {
      display: none;
    }

    .country-filters__continents {
      margin-left: 289px;
      margin-top: -21px;
    }
  }
}

.country-filters__closebutton {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.country-filters__info {
  display: none;
}
