.countries-list__letter {
  @media (max-width: 1329px) {
    display: none;
  }
}

.countries-list {
  display: block;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: $special-grey;
}

.countries-list__sublist {
  display: none;
  padding-top: 12px;
  padding-bottom: 29px;

  &--active {
    display: block;
  }
}
