.directions {
  margin-top: -27px;
  padding-top: 96px;
  padding-bottom: 34px;
  background-color: $background-color;
  border-radius: 0 0 30px 30px;
}

.directions__text {
  font-weight: 300;
  color: $special-grey;
  margin-bottom: 61px;
}

.directions__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.directions__items {
  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }
}
