.level-mark {
  position: absolute;
  top: 17px;
  left: 16px;
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.level-mark__underscore {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  &--catalog {
    font-weight: 700;
  }
}

.level-mark__ring {
  position: absolute;
}

//Признаюсь что не знаю как это работает
.level-mark__circle {
  stroke-dashoffset: 4;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.level-mark--catalog {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
  width: 45px;
  height: 45px;
  background-color: transparent;

  .level-mark__ring {
    stroke-linecap: round;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 2px;

    .level-mark__ring {
      width: 65px;
      height: 70px;
    }

    .level-mark__circle {
      cx: 30px;
      cy: 33px;
      r: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
    margin-top: 2px;

    .level-mark__ring {
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .level-mark__circle {
      cx: 30px;
      cy: 30px;
      r: 27px;
    }
  }
}
