.link-button {
  display: block;
  padding: 9px 40px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $basic-blue;
  background-color: $basic-yellow;
  border-radius: 25px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-left: 32px;
  }
}

.link-button--showall {
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  padding: 20px 36px 20px 23px;
  text-align: left;
  border-radius: 10px;
  text-transform: none;
  color: $basic-blue-dark;

  &::after {
    position: absolute;
    top: calc(50% - 7px);
    right: 21px;
    width: 13px;
    height: 13px;
    background: url("../img/arrow-right.svg") no-repeat center;
    content: "";
  }

  @media (min-width: $tablet-width) {
    max-width: none;
    margin: 0 35px;
    padding: 29px 36px 29px 32px;
    border-radius: 20px;

    &::after {
      right: 33px;
    }
  }
}

.link-button--header {
  margin-bottom: 51px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.link-button--auth {
  font-size: 17px;

  @media (min-width: $desktop-width) {
    padding: 16px 28px 14px 29px;
    font-size: 20px;
    line-height: 20px;
  }
}

.link-button--tablet-show {
  @media (min-width: $tablet-width) {
    padding: 12px 28px 14px 29px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
