.links-list {
  padding-top: 51px;
  padding-bottom: 54px;
}

.links-list__link {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: $special-blue;
}
