.link-button {
  display: block;
  padding: 9px 40px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $basic-blue;
  background-color: $basic-yellow;
  border-radius: 25px;
}

.link-button--showall {
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  padding: 20px 36px 20px 23px;
  text-align: left;
  border-radius: 10px;
  text-transform: none;
  color: $basic-blue-dark;

  &::after {
    position: absolute;
    top: 24px;
    right: 21px;
    width: 13px;
    height: 13px;
    background: url("../img/arrow-right.svg") no-repeat center;
    content: "";
  }
}

.link-button--header {
  margin-bottom: 51px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
}

.link-button--auth {
  font-size: 17px;
}
