.main-nav {
  display: flex;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-nav__wrapper {
  position: static;
  left: 0;
  top: -400px;
  display: flex;
  padding-bottom: 37px;
  text-align: center;
  flex-direction: column;
  width: 100%;
  background-color: $white-color;
  z-index: 5;
  transition: $basic-animation;
}

.main-nav__toggle {
  display: none;
  position: relative;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;

  &::after {
    position: absolute;
    top: 6px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: $white-color;
    border-radius: 2px;
    content: "";
    transition: $basic-animation;
  }

  &::before {
    position: absolute;
    top: 14px;
    left: 0;
    width: 25px;
    height: 3px;
    background-color: $white-color;
    border-radius: 2px;
    content: "";
    transition: $basic-animation;
  }
}

.main-nav__item {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

// .main-nav__logo path {
//   fill: $black-color;
// }
