.modal {
  position: absolute;
  display: none;
  flex-direction: column;
  top: -5px;
  left: calc(50% - 134px);
  padding: 0;
  padding-top: 34px;
  background-color: $white-color;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(29, 46, 91, 0.14);

  &--open {
    display: flex;
  }
}

.modal__heading {
  margin: 0;
  margin-bottom: 21px;
  color: $special-orange;
  text-align: center;
}

.modal__button {
  padding: 21px 0;
  font-family: $main-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-blue-dark;
  background-color: $modal-button-color;
  border: none;
  border-radius: 0 0 20px 20px;
}
