.page-title {
  position: relative;
  padding: 35px 25px 22px;
  background-color: $basic-blue;
  border-radius: 0 0 20px 20px;
}

.page-title__heading {
  position: relative;
  margin: 0;
  font-size: 36px;
  color: $white-color;

  &::after {
    position: absolute;
    width: 214px;
    height: 5px;
    bottom: -24px;
    left: 0;
    background-color: $special-orange;
    border-radius: 4px;
    content: "";
  }
}

.page-title__link {
  @media (max-width: 767px) {
    display: none;
  }
}
