.plans {
  padding: 28px 25px 59px 25px;
  background-color: $special-blue-light;
  border-radius: 20px 20px 0 0;
}

.plans__heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}

.plans__list {
  counter-reset: numbers;
  color: $basic-blue-dark;
}

.plans__item:not(:last-child) {
  margin-bottom: 10px;
}

.plans__country {
  position: relative;
  padding-left: 18px;
  margin-bottom: 20px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    counter-increment: numbers;
    content: counter(numbers) ".";
  }
}

.plans__info {
  margin-bottom: 24px;
  font-weight: 500;
  text-transform: uppercase;
}

.plans__compainions-number {
  margin: 0;
  margin-bottom: 5px;
}

.plans__dates {
  margin: 0;
}

.plans__change {
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}
