.promo {
  padding-top: 27px;
  padding-bottom: 39px;
  background-color: $basic-blue;
}

.promo__container {
  padding: 0;
  background-image: url("../img/promo-bg.jpg");
  background-repeat: no-repeat;
  background-position-y: 138px;
}

.promo__heading {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $white-color;

  @media (min-width: $tablet-width) {
    padding: 0 120px;
    margin-bottom: 86px;
    font-size: 60px;
    line-height: 70px;
  }
}

.promo__quote {
  margin-left: 25px;
  max-width: 156px;

  @media (min-width: $tablet-width) {
    max-width: 264px;
    margin-bottom: 211px;
  }
}

.promo__review {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.promo__author {
  display: block;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.promo__description {
  display: block;
  margin-bottom: 30px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}

.promo__list {
  counter-reset: numbers;

  &--steps {
    @media (min-width: $tablet-width) {
      position: relative;
      display: grid;
      grid-template-columns: minmax(369px, 1fr) 344px;
      grid-template-rows: repeat(2, 140px);

      &::after {
        position: absolute;
        top: -451px;
        right: 0;
        width: 372px;
        height: 451px;
        background: url("../../img/traveller-illustration-tablet.png");
        content: "";
      }
    }
  }
}

.promo__item {
  position: relative;
  padding: 21px 140px 35px 24px;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue;
  background-color: $special-orange;
  border-radius: 10px 10px 0 0;

  &::after {
    position: absolute;
    right: 21px;
    top: 20px;
    color: $white-color;
    counter-increment: numbers;
    content: counter(numbers);
  }

  &--step-two {
    background-color: #ffa530;
    padding-right: 96px;
  }

  &--step-three {
    background-color: $special-yellow-dark;
    padding-right: 108px;
  }

  &--step-four {
    background-color: $basic-yellow;
    padding-right: 121px;
    padding-bottom: 23px;
    border-radius: 10px;
  }

  @media (min-width: $tablet-width) {
    padding: 31px 100px 37px 33px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      left: 33px;
      top: 88px;
    }

    &--step-two {
      width: 344px;
      margin-left: -20px;
    }

    &--step-three{
      border-radius: 0 0 0 15px;
    }

    &--step-four {
      width: 344px;
      margin-left: -20px;
      border-radius: 0 0 15px 15px;
    }
  }
}

.promo__item:not(:first-child) {
  margin-top: -12px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.promo__list--user {
  position: relative;
  padding-top: 246px;
  z-index: 0;

  &::after {
    position: absolute;
    z-index: -1;
    top: 11px;
    right: 23px;
    width: 192px;
    height: 255px;
    background: url("../img/promo-list-pseudo.png");
    content: "";
  }
}
