.section-description {
  padding: 0 25px;
}

.section-description__text {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 300;
}

.section-description__text--bold {
  margin-bottom: 0;
  font-weight: 700;
}
