.section-description {
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 70px;
    padding-right: 0;
  }
}

.section-description__text {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    line-height: 33px;
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.section-description__text--bold {
  margin-bottom: 0;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: 470px;
    margin-bottom: 86px;
  }
}
