.submit-button {
  width: 100%;
  margin-bottom: -6px;
  padding: 10px 0;
  font-family: $main-font;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $basic-blue-dark;
  background-color: $basic-yellow;
  border: none;
  border-radius: 20px;
}
