.subscription {
  position: relative;
  padding-top: 70px;
  padding-bottom: 29px;
  background-color: $special-blue;
  border-radius: 0 0 30px 30px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
    padding-bottom: 58px;
    border-radius: 0 0 60px 60px;
  }
}

.subscription__container {
  padding-top: 39px;
}

.subscription__description {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }
}

.subscription__text {
  margin: 0;
  margin-right: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    line-height: 32px;

    br {
      display: none;
    }

    &--auth {
      margin-right: 9px;
    }

    &--questions {
      margin-right: 0;
      margin-left: 8px;
    }
  }
}

.subscription__description--questions {
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 43px;
    padding: 0;
    text-align: center;
    letter-spacing: 0.01em;
  }
}

.subscription__link {
  color: $basic-yellow;
}

.subscription__list {
  margin-bottom: 0;
}

.subscription__form {
  position: relative;
  display: flex;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    max-width: 616px;
    margin: 0 auto;
    margin-bottom: 57px;
  }
}

.subscription__input {
  width: 90%;
  padding: 21px 65px 20px 25px;
  background-color: $white-color;
  font-family: $main-font;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $special-grey;
  border: none;
  border-radius: 10px 0 0 10px;

  &::placeholder {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 25px 80px 27px 36px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px 0 0 20px;
  }
}

.subscription__heading {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    margin-right: 10px;
  }
}

.subscription__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 62px;
  background-color: $basic-yellow;
  background-image: url("../img/arrow-right.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;

  @media (min-resolution: 2dppx) {
    top: 2px;
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    border-radius: 0 20px 20px 0;
  }
}

.subscription__text--desktop {
  display: none;
}
