.transport-list {
  display: flex;
  margin-bottom: 0;
}

.transport-list__item {
  position: relative;
  display: flex;
  width: 24px;
  height: 25px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    .transport-list__tooltip {
      display: block;
    }
  }
}

.transport-list__item:not(:last-child) {
  margin-right: 9px;
}

.transport-list__item:not(.transport-list__item--active) svg {
  opacity: 0.15;
}
